.THIS.grid{
   height:calc(100vh - 45px);
    /*max-height:calc(100vh - 45px);
    Viewport height - app header */
}

.THIS .searchgrid{
   height:calc(100vh - 45px - 75px);
   max-height:calc(100vh - 45px - 75px);
  /* Viewport height - app header - component header*/
  height:100%;
}

.THIS .resultScroll{
    overflow-y: scroll;
    max-height: calc(100vh - 45px - 75px - 75px);
    /* Viewport height - app header - component header - search input*/
}

.THIS .header{
    flex-basis:75px;
}
.THIS .bottom{
    flex-basis:270px;
    min-height:270px;
}

.THIS .managerSection{
    height:calc(100vh - 45px - 75px - 270px);
    min-height: min-content;
   /* Viewport height - app header - component header - component footer*/
}

/*Desktop modifictaion of base style*/
@media only screen and (min-width: 64.0625em){
  .THIS.grid{
        height:calc(100vh - 90px - 65px);
    }
 .THIS .managerSection{
    height:calc(100vh - 90px - 65px - 270px);
   /* Viewport height - app header - component header - component footer*/
	}
   .THIS .header{
    display:none;
	} 
    .THIS .searchgrid{
   height:calc(100vh - 90px - 65px);
   max-height:calc(100vh - 90px - 65px);
  /* Viewport height - app header - component header*/
	}
    .THIS .resultScroll{
    overflow-y: scroll;
    max-height: calc(100vh - 90px - 65px - 75px);
    /* Viewport height - app header - component header - search input*/
	}
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.THIS .orgchart-badge.medium:after { /* Display a vertical bar of 30px height below the badge */
    top: 48px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    margin-left: -1.5px;
    background-color: #dddddd;
    left: 50%;
    height:30px;
}
.THIS .greybar{
    background:linear-gradient(to bottom,
            transparent,
            transparent 15px,
            #eeeeee 15px,
            #eeeeee 65px,
            transparent 65px,
            transparent )
}

.THIS .orgchart-badge {
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #ffffff;
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    border-width:2px;
    border-color:#eeeeee;
    border-style: solid;
    color: #fff;
}
.THIS .orgchart-badge.medium {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position:relative;
}
.THIS  .orgchart-badge.small {
    width: calc((100vw - 20px) / 10);
    height: calc((100vw - 20px) / 10);
    max-width: 50px;
    max-height:50px;
    border-color:#eeeeee;
    animation: fadeInDown 0.8s;
    box-shadow: 1px 1px 1px #888888;
}
.THIS  .orgchart-badge.big {
    width: 80px;
    height: 80px;
    line-height: 50px;
    border-color:#ffbbcc;
}

.THIS .actionIcons{
    width:40px;
}

.THIS  .orgchart-name {
    /* Manager Name */
    position:relative;
    text-align: center;
    color:#015ba7;
    z-index:200;
    line-height:30px;
    vertical-align: top;
    height:30px;
}
.THIS .orgchart-manager {
    /* Manager Component : height = 80px [50px badge + 30px vetical bar] */
    position:relative;
    height:80px;
}

.THIS .listCircleReports{
    margin-right:10px;
    margin-left:10px;   
}

.THIS .topActions{
    position:relative;
    width:100%;
    top:10px;
}
.THIS .topActions button:nth-child(2){
    position:absolute;
    left:20px;
}
.THIS .topActions button:nth-child(1){
    position:absolute;
    right:20px;
}